@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

.book-description::-webkit-scrollbar,
.chapters-list::-webkit-scrollbar {
    width: 4px;
}

.book-description::-webkit-scrollbar-track,
.chapters-list::-webkit-scrollbar-track {
    background: transparent;
}

.book-description::-webkit-scrollbar-thumb,
.chapters-list::-webkit-scrollbar-thumb {
    background: #d4d4d8;
    border-radius: 2px;
}

.book-description::-webkit-scrollbar-thumb:hover,
.chapters-list::-webkit-scrollbar-thumb:hover {
    background: #a1a1aa;
}

#search-results.has-expanded .book-card:not(.expanded) {
    opacity: 0.4;
    pointer-events: none;
}

input[type='checkbox'] {
    accent-color: #0073e6;
}
